*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
}

.header-div{
    width:100%;
    height: 40px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: #1f292e;
}

.header-div .side-bar-title{
    width: 250px;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.header-div .side-bar-title #sdn-title-h1{
    color:white;
    font-size: 10pt;
    margin-left:1rem;
    margin-right:1rem;
    cursor: pointer;
    font-weight: bold;
    margin-top: 4%;

    /* width:50%; */
}

.header-div .side-bar-title .side-bar-mobile-btn{
    /* width: 50%; */
    height: 100%;
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    cursor:pointer;
    background: #1f292e;
    transition-delay: 150ms;
    /* display: none; */
}

.header-div .side-bar-title .side-bar-mobile-btn i{
    color:white;
    font-size: 1.5rem; 
}

.header-div .account-header-div{
    width: 35%;
    height: 100%;
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin-right: 0.5rem;
}

.header-div .account-header-div .notif-main-div{
    width: auto;
    height:  83.333333%;
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin-right: 1rem;
}

.header-div .account-header-div .notif-main-div #notif-div{
    width: 20px;
    height: 100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position:relative;

}

.header-div .account-header-div .notif-main-div #notif-div #notif-circle{
    position: absolute;
    top:10%;
    text-align: center;
    width: 15px;
    height: 15px;
    border-radius: 100%;
    background: red;
    margin-left: 1rem;
    color:white;
    font-size: 0.75rem;
}

.header-div .account-header-div .notif-main-div #notif-div span{
    font-size: 0.7rem;
    font-weight: bold;
}

.header-div .account-header-div .notif-main-div #notif-div i{
    color:white;
    font-size: 10pt; /* 20px */
    line-height: 1.75rem; /* 28px */
    opacity: 0.5;
}

.header-div .account-header-div .notif-main-div #notif-div #notif-sub-div{
    display:none;
    position:absolute;
    top:85%;
    width: 250px;
    height: 200px;
    background: #1f292e;
    border:4px solid #7694a2;
    border-radius: 15px; 
    overflow-y: scroll;
    z-index: 10;

    display:none;
    /* display:flex; */

    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

::-webkit-scrollbar {
    display: none;
}

.header-div .account-header-div .notif-main-div #notif-div #notif-sub-div div h4{
    font-weight: bold;
    font-size: 1.125rem;
}

#notif-sub-div div:nth-child(even) {
    height: 30px;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background: transparent;
    color: white;
    opacity: 0.3;
    margin-top:2%;
}

#notif-sub-div div:nth-child(odd) {
    height: 30px;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background: white;
    color: black;
    opacity: 0.3;
    margin-top:2%;

}

#notif-sub-div div:hover {
    opacity: 1;
}

header .header-username-div{
    width:auto;
    height: 83.33333%;
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin-right: 1rem;
}

header .header-username-div .user-icon-div{
    width: 15%;
    height: 100%;
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin-right: 0.5rem;
}

header .header-username-div .user-icon-div i{
    color:white;
    font-size: 10pt; /* 20px */
    line-height: 1.75rem; /* 28px */
    

}

header .header-username-div .user-name-div{
    width:auto;
    height: 100%;
    white-space: nowrap;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

header .header-username-div .user-name-div #user_name-id{
    color:white;
    font-size: 10pt; /* 16px */
    margin-top: 2%;
    font-weight: 400;
}

header .header-username-div .username-caret-div{
    width: auto;
    height: auto;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    margin: 3px;
    margin-top:2%;
}

header .header-username-div .username-caret-div i{
    color:white;
    font-size: 10pt;
}

#nav-drop-account-div{
    z-index: 10;
    position:absolute;
    right:0;
    top:30px;
    display:none;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background: #1f292e;
    color:white;
    /* position: fixed; */
    width:300px;
    height: 400px;
    border-bottom-left-radius: 10px;
}

#nav-drop-account-div #nav-drop-acc-sub-div{
    width: 100%;
    height: 350px;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top:8%;
}

#nav-drop-account-div #nav-drop-acc-sub-div .nav-drop-btns{
    width: 66.666667%;
    height: 50px;
    border-bottom: 2px solid #29363d;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    opacity: 0.3;
}

#nav-drop-account-div #nav-drop-acc-sub-div .nav-drop-btns:hover{
    opacity: 100;
    transition-duration: 150ms;
}

#nav-drop-account-div #nav-drop-acc-sub-div .nav-drop-btns .nav-drop-btns-txt{
    font-size: 1rem;
}

.main-div{
    display:flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    width: 100%;
    height: 100%;
    background: #eceff1;
}

.main-div .main-title-div{
    width:100%;
    height: auto;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-top:0;
    margin-top: 1%;
    /* border-radius: 5px; */
}

.main-div .main-title-div > label{
    font-size: 3rem;
    color:#333333;
    margin-left: 3.5rem;
}

.main-div .main-title-div div{
    display: flex;
    flex-direction: column;
    margin-right: 3.5rem;
    font-weight: bold;
}

.main-div .main-title-div div #curr-month-lbl{
    font-size: 1.875rem;
    font-weight: 600;
}

.main-div .main-title-div div #curr-date-lbl{
    font-weight: 600;
}

.main-div .main-filter-div{
    width: 500px;
    height: 5%;
    margin-left: 3%;
    margin-top: 2%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    padding: 5px;
    border-radius: 5px;

    /* background: #1f292e; */
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.main-div .main-filter-div label{
    font-size: 1.25rem;
    margin-left:2%;
    color:#1f292e;
    font-weight: 600;
}

.main-div .main-filter-div div{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width:90%;

}

.main-div .main-filter-div div label input{
    width: 150px;
    outline: none;
    background: white;
    font-size: 1.2rem;
    text-align: center;
    border:none;
    background: transparent;
    border-bottom: 1px solid white;
    color:#1f292e;
    cursor: pointer;
    font-weight: 600;
}


.main-div .main-filter-div #filter-date-btn{
    width: 70px;
    height: 30px;
    border:none;
    outline:none;
    background: #198754;
    border-radius: 0.5rem;
    color:white;
    font-size: 1.1rem;
    letter-spacing: 1px;
    margin-left:2%;
}

.main-div .main-filter-div #filter-date-btn:hover{
    background: #146c43;
}

.main-div .main-turnaround-div{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 93%;
    height: 15%;
    margin-left: 3%;
    margin-top: 2%;
    /* border:1px solid red; */
    /* flex-wrap: wrap; */
}

.main-div .main-turnaround-div div{
    width: 12%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 2%;
    background: #1f292e;
    color:#1f292e;
    border-radius: 15px;

    margin: 10px;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.main-div .main-turnaround-div div #average-interdept-approve-lbl{
    text-align: center;
}

.main-div .main-turnaround-div div label:nth-child(1){
    font-weight: 600;
    font-size: 2.5rem;
}

.main-div .main-turnaround-div div label:nth-child(2){
    font-weight: 600;
    font-size: 10pt;
}

.main-div .main-graph-div{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    height: 30%;
    margin-left: 3%;
    margin-top: 2%;
}

.main-div .main-graph-div div{
    width: 30%;
    height: 100%;
    display:flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;

    margin: 10px;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

}

.main-div .main-graph-div div label{
    font-weight: 600;
    width:200px;
    text-align: center;
    font-size: 1rem;
    color:white;
    background: #1f292e;
    padding: 10px;
    border-radius: 10px;
}

.main-div .main-graph-div div canvas{
    width:100% !important;
    height:80% !important;
    margin-top:10px;
    /* height: 210px !important; */
    /* margin-bottom:3px; */
}

.main-div .main-data-div{
    width: 100%;
    height: auto !important;
    margin-top: 2%;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: top;

}

.main-div .main-data-div table{
    border: 2px solid #1f292e;
    width: 95%;
    height: 100%;
    border-collapse: collapse;
    text-align: center;
}

.main-div .main-data-div table thead{
    width: 100%;
}

.main-div .main-data-div table thead tr th{
    border: 2px solid #0a0e0f;
}

.main-div .main-data-div table thead tr .pat-class{
    background: #1f292e;
    color:white;
}

.main-div .main-data-div table thead tr label{
    font-weight: bold;
    font-size: 10pt;
} 

.modal-header, .modal-title-div{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.modal-header .modal-title-div #modal-icon{
    margin-left: .5rem;
    margin-bottom:5%;
}

.modal-header button{
    font-size: 1.875rem; 
    line-height: 2.25rem;
    border:none;
    background: transparent;
}


.modal-body-main{
    margin-left: 1.75rem;
}

.modal-content #modal-body{
    margin-left: 1.75rem;
}

.modal-footer button{
    background: #3a82f6;
    color:white;
    font-weight: bold;
    padding-top: 0.5rem; /* 8px */
    padding-bottom: 0.5rem; /* 8px */
    padding-left: 1rem; /* 16px */
    padding-right: 1rem; /* 16px */
    border-radius: 0.25rem;
    margin-right: 0.5rem;
    border:none;
}

#myModal-prompt .modal-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#myModal-prompt .modal-header div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
#myModal-prompt .modal-header div h5{
    margin:0;
    padding:0;
}

#myModal-prompt .modal-header div i{
    margin-left: 0.50rem;
}

#myModal-prompt .modal-header button{
    font-size: 20pt;
    border:none;
    background: none;
}

#myModal-prompt #modal-body-incoming{
    margin-left: 0.5rem;
}

#myModal-prompt .modal-footer button{
    color:white;
    font-weight: bold;
    padding: 0.25rem 0.50rem .25rem .50rem;
    border-radius: 10px;
    margin-right: 0.5rem;
    border:none;
    /* #3b82f6 */
    /* #ef4444 */
}

#myModal-prompt .modal-footer #ok-modal-btn-incoming{
    background: #3b82f6;
}

#myModal-prompt .modal-footer #yes-modal-btn-incoming{
    background: #3b82f6;
}

/* .main-graph-div div canvas {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto; 
} */

/* .main-graph-div div label {
    margin-bottom: 10px;
    display: block;
} */

@media only screen and (max-height: 800px){ 
    .main-div .main-turnaround-div div label:nth-child(1){
        font-weight: 600;
        font-size: 22pt;
    }

    .main-div .main-turnaround-div div label:nth-child(2){
        font-weight: 600;
        font-size: 7pt;
    }

    .main-div .main-title-div > label{
        font-size: 28pt;
        color:#333333;
        margin-left: 3.5rem;
    }

    .main-div .main-title-div div #curr-month-lbl{
        font-size: 20pt;
        font-weight: 600;
    }
    
    .main-div .main-title-div div #curr-date-lbl{
        font-weight: 600;
    }

    .main-div .main-graph-div div canvas{
        height:70% !important;
        margin-top:10px;
    }
}