*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container{
    width:100%;
    height: 100%;
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;

    /* background: red; */
    overflow: hidden;
    /* position:relative; */

}

.container #sdn-main-bg{
    position: absolute;
    width: 400px;
    height: 400px;
    opacity: 0.1;
    transition-duration: 0s;
}

.container h1{
    font-weight: bold;
    font-size: 44pt;
    margin-top: 52%;
}

.container h3{
    font-size: 1.875rem;
    margin-top: 50%;
}

.container #license-div{
    position:absolute;
    bottom:0;
    width: 100%;
    height: 70px;
    background: gray;
    font-size: 8pt;
    text-align: center;

}

.container #license-div p{
    margin:0;
}

.container #license-div #copy-right{
    font-weight: bold;
    margin-top:10px;
}