*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

#main-div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:left;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background: #eceff1;
}

#main-div .header-div{
    width:100%;
    height: 60px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: #1f292e;
}

#main-div .header-div .side-bar-title{
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

}

#main-div .header-div .side-bar-title #sdn-title-h1{
    color:white;
    font-size: 1rem;
    margin-left:1.75rem;
    margin-right:1rem;
    cursor: pointer;
    
    margin-top: 1%;
}

#main-div .header-div .side-bar-title .side-bar-mobile-btn{
    width: 50%;
    height: 100%;
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    cursor:pointer;
    background: #1f292e;
    transition-delay: 150ms;
}

#main-div .header-div .side-bar-title .side-bar-mobile-btn i{
    color:white;
    font-size: 2rem; 
    line-height: 2.5rem; 
}

#main-div .header-div .account-header-div{
    width: 35%;
    height: 100%;
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin-right: 0.5rem;
}

#main-div .header-div .account-header-div .notif-main-div{
    width: auto;
    height:  83.333333%;
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin-right: 1rem;
}

#main-div .header-div .account-header-div .notif-main-div #notif-div{
    width: 20px;
    height: 100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position:relative;
}

#main-div .header-div .account-header-div .notif-main-div #notif-div #notif-circle{
    position: absolute;
    top:15%;
    text-align: center;
    width: 15px;
    height: 15px;
    border-radius: 100%;
    background: red;
    margin-left: 1rem;
    color:white;
    font-size: 0.75rem;
}

#main-div .header-div .account-header-div .notif-main-div #notif-div span{
    font-size: 0.7rem;
    font-weight: bold;
}

#main-div .header-div .account-header-div .notif-main-div #notif-div i{
    color:white;
    font-size: 1.25rem; /* 20px */
    line-height: 1.75rem; /* 28px */
}

#main-div .header-div .account-header-div .notif-main-div #notif-div #notif-sub-div{
    display:none;
    position:absolute;
    top:85%;
    width: 250px;
    height: 200px;
    background: #1f292e;
    border:4px solid #7694a2;
    border-radius: 15px; 
    overflow-y: scroll;
    z-index: 10;

    display:none;
    /* display:flex; */

    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

::-webkit-scrollbar {
    display: none;
}

#main-div .header-div .account-header-div .notif-main-div #notif-div #notif-sub-div div h4{
    font-weight: bold;
    font-size: 1.125rem;
}

#notif-sub-div div:nth-child(even) {
    height: 30px;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background: transparent;
    color: white;
    opacity: 0.3;
    margin-top:2%;
}

#notif-sub-div div:nth-child(odd) {
    height: 30px;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background: white;
    color: black;
    opacity: 0.3;
    margin-top:2%;

}

#notif-sub-div div:hover {
    opacity: 1;
}

#main-div header .header-username-div{
    width:auto;
    height: 83.33333%;
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin-right: 1rem;

}

#main-div header .header-username-div .user-icon-div{
    width: 15%;
    height: 100%;
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin-right: 0.5rem;
}

#main-div header .header-username-div .user-icon-div i{
    color:white;
    font-size: 1.25rem; /* 20px */
    line-height: 1.75rem; /* 28px */
    

}

#main-div header .header-username-div .user-name-div{
    width:auto;
    height: 100%;
    white-space: nowrap;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#main-div header .header-username-div .user-name-div #user_name-id{
    color:white;
    font-size: 1rem; /* 16px */
    margin-top: 2%;
    font-weight: 400;
}

#main-div header .header-username-div .username-caret-div{
    width: auto;
    height: auto;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    margin: 3px;
    margin-top:2%;
}

#main-div header .header-username-div .username-caret-div i{
    color:white;
    font-size: 0.9rem;
}

#main-div #nav-drop-account-div{
    z-index: 10;
    position:absolute;
    right:0;
    top:45px;
    display:none;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background: #1f292e;
    color:white;
    /* position: fixed; */
    width:15%;
    height: 400px;
}

#main-div #nav-drop-account-div #nav-drop-acc-sub-div{
    width: 100%;
    height: 350px;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top:8%;
}

#main-div #nav-drop-account-div #nav-drop-acc-sub-div .nav-drop-btns{
    width: 66.666667%;
    height: 50px;
    border-bottom: 2px solid #29363d;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    opacity: 0.3;
}

#main-div #nav-drop-account-div #nav-drop-acc-sub-div .nav-drop-btns:hover{
    opacity: 100;
    transition-duration: 150ms;
}

#main-div #nav-drop-account-div #nav-drop-acc-sub-div .nav-drop-btns .nav-drop-btns-txt{
    font-size: 1rem;
}

#main-div .aside-main-div{
    display:flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    width: 100%;
    height: 100%;
}

#main-div .aside-main-div #side-bar-div{
    font-size: 1.125rem; 
    line-height: 1.75rem; 
    width:13.5%;
    height: 100%;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background: #2f3e46;
    transition-duration: 200ms;
    margin-left: 0;

    z-index: 10;
}

#main-div .aside-main-div #side-bar-div #side-bar-title-bgh{
    width:95%;
    height: 10%;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-bottom: 4px solid #29363d;
}

#main-div .aside-main-div #side-bar-div #side-bar-title-bgh img{
    width: 28%;
    height: 85%;
}

#main-div .aside-main-div #side-bar-div #side-bar-title-bgh p{
    color: white;
    font-size: 0.8rem;
    line-height: 1.25rem;
    width:65%;
    margin-top:5%;
}

#main-div .aside-main-div #side-bar-div #main-side-bar-1,
#main-div .aside-main-div #side-bar-div #main-side-bar-2{
    width: 100%;
    height: auto;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
    font-size: 1rem;
    line-height: 1.5rem;
    /* border:3px solid white; */
    margin-top:5%;
}

#main-div .aside-main-div #side-bar-div #main-side-bar-1 #main-side-bar-1-subdiv,
#main-div .aside-main-div #side-bar-div #main-side-bar-2 #main-side-bar-2-subdiv{
    width: 100%;
    height: auto;
    display:flex;   
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
    font-size: 1rem;
}

#main-div .aside-main-div #side-bar-div #main-side-bar-1 #main-side-bar-1-subdiv i,
#main-div .aside-main-div #side-bar-div #main-side-bar-2 #main-side-bar-2-subdiv i{
    margin-left: 0.75rem;
    font-size: 1.125rem; 
    line-height: 1.75rem; 
    color:white;
    opacity: 0.8;
}

#main-div .aside-main-div #side-bar-div #main-side-bar-1 #main-side-bar-1-subdiv h3,
#main-div .aside-main-div #side-bar-div #main-side-bar-2 #main-side-bar-2-subdiv h3{
    margin-left: 0.75rem;
    margin-top: 0.25rem;
    color:white;
    font-size: 0.9rem;
    letter-spacing: 1px;
}

#main-div .aside-main-div #side-bar-div #main-side-bar-1 #sub-side-bar-1,
#main-div .aside-main-div #side-bar-div #main-side-bar-2 #sub-side-bar-2{
    width:100%;
    height: auto;
    background: #1f292e;
}

#main-div .aside-main-div #side-bar-div #main-side-bar-1 #sub-side-bar-1 #patient-reg-form-sub-side-bar,
#main-div .aside-main-div #side-bar-div #main-side-bar-2 #sub-side-bar-2 #outgoing-sub-div-id,
#main-div .aside-main-div #side-bar-div #main-side-bar-2 #sub-side-bar-2 #incoming-sub-div-id,
#main-div .aside-main-div #side-bar-div #main-side-bar-2 #sub-side-bar-2 #bucasPending-sub-div-id,
#main-div .aside-main-div #side-bar-div #main-side-bar-2 #sub-side-bar-2 #bucasHistory-sub-div-id {
    width:100%;
    height: 50px;
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    opacity: 0.3;
}

#main-div .aside-main-div #side-bar-div #main-side-bar-1 #sub-side-bar-1 #patient-reg-form-sub-side-bar:hover,
#main-div .aside-main-div #side-bar-div #main-side-bar-2 #sub-side-bar-2 #outgoing-sub-div-id:hover,
#main-div .aside-main-div #side-bar-div #main-side-bar-2 #sub-side-bar-2 #incoming-sub-div-id:hover,
#main-div .aside-main-div #side-bar-div #main-side-bar-2 #sub-side-bar-2 #bucasPending-sub-div-id:hover,
#main-div .aside-main-div #side-bar-div #main-side-bar-2 #sub-side-bar-2 #bucasHistory-sub-div-id:hover
{
    opacity: 1;
    transition-duration: 100ms;
}

#main-div .aside-main-div #side-bar-div #main-side-bar-1 #sub-side-bar-1 #patient-reg-form-sub-side-bar i,
#main-div .aside-main-div #side-bar-div #main-side-bar-2 #sub-side-bar-2 #outgoing-sub-div-id i,
#main-div .aside-main-div #side-bar-div #main-side-bar-2 #sub-side-bar-2 #incoming-sub-div-id i,
#main-div .aside-main-div #side-bar-div #main-side-bar-2 #sub-side-bar-2 #bucasPending-sub-div-id,
#main-div .aside-main-div #side-bar-div #main-side-bar-2 #sub-side-bar-2 #bucasHistory-sub-div-id i{
    margin-left: 2rem;
    font-size: 1.125rem;
    line-height: 1.75rem;
    color:white;
    opacity: 0.8;
}

#main-div .aside-main-div #side-bar-div #main-side-bar-1 #sub-side-bar-1 #patient-reg-form-sub-side-bar h3,
#main-div .aside-main-div #side-bar-div #main-side-bar-2 #sub-side-bar-2 #outgoing-sub-div-id h3,
#main-div .aside-main-div #side-bar-div #main-side-bar-2 #sub-side-bar-2 #incoming-sub-div-id h3,
#main-div .aside-main-div #side-bar-div #main-side-bar-2 #sub-side-bar-2 #bucasPending-sub-div-id h3,
#main-div .aside-main-div #side-bar-div #main-side-bar-2 #sub-side-bar-2 #bucasHistory-sub-div-id h3
{
    font-size: 0.8rem;
    margin: 0.75rem;
    color:white;
}

#main-div .aside-main-div #container{
    width:86.5%;
    height: 100%;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
}

.modal-header, .modal-title-div{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.modal-header .modal-title-div #modal-icon{
    margin-left: .5rem;
}

.modal-header button{
    font-size: 1.875rem; 
    line-height: 2.25rem;
    border:none;
    background: transparent;
}


.modal-body-main{
    margin-left: 1.75rem;
}

.modal-footer button{
    background: #3a82f6;
    color:white;
    font-weight: bold;
    padding-top: 0.5rem; /* 8px */
    padding-bottom: 0.5rem; /* 8px */
    padding-left: 1rem; /* 16px */
    padding-right: 1rem; /* 16px */
    border-radius: 0.25rem;
    margin-right: 0.5rem;
    border:none;
}

.modal-footer #yes-modal-btn-main{
    display:none;
}

.modal-content #modal-body{
    margin-left: 1.75rem;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); /* Semi-transparent black */
    z-index: 10;
    pointer-events: none; /* Allow clicks to pass through */

    display:none;
}

.carousel{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 80%;
    width: 70%;
    z-index: 30;
    border-radius: 10px;
    /* border:3px solid darkolivegreen; */
    display:none;
}



