*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.incoming-container{
    width:95%;
    height: 90%;
    display:flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: center;
    border-radius: 0.5rem;
    background: transparent;
    /* border:2px solid red; */
}

.incoming-container .search-main-div{
    width: 100%;
    height: 10%;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    /* margin-top: 2rem; */
}

.incoming-container .search-main-div .refer-no-div,
.incoming-container .search-main-div .lname-search-div,
.incoming-container .search-main-div .fname-search-div,
.incoming-container .search-main-div .mname-search-div,
.incoming-container .search-main-div .caseType-search-div,
.incoming-container .search-main-div .agency-search-div,
.incoming-container .search-main-div .status-search-div{
    width:10%;
    height: 100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}

.incoming-container .search-main-div .search-clear-btns-div{
    width:15%;
    height: 100%;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-weight: bold;
    color:white;
    margin-top: 15px;
}

.incoming-container .search-main-div .refer-no-div label,
.incoming-container .search-main-div .lname-search-div label,
.incoming-container .search-main-div .fname-search-div label,
.incoming-container .search-main-div .mname-search-div label,
.incoming-container .search-main-div .caseType-search-div label,
.incoming-container .search-main-div .agency-search-div label,
.incoming-container .search-main-div .status-search-div label{
    margin-left: 0.25rem;
    font-weight: bold;
}

.incoming-container .search-main-div .refer-no-div input,
.incoming-container .search-main-div .lname-search-div input,
.incoming-container .search-main-div .fname-search-div input,
.incoming-container .search-main-div .mname-search-div input{
    width: 100%;
    border:2px solid #bfbfbf; 
    border-radius: 0.375rem;
    outline:none;
}

.incoming-container .search-main-div .caseType-search-div select,
.incoming-container .search-main-div .agency-search-div select,
.incoming-container .search-main-div .status-search-div select{
    width:100%;
    border: 2px solid #bfbfbf;
    border-radius: 0.375rem;
}

.incoming-container .search-main-div .search-clear-btns-div #incoming-clear-search-btn{
    width:100px;
    height: 50%;
    border-radius: 0.25rem;
    background: #2f3e46;
    opacity: 0.6;
    pointer-events: none;
    border:none;
    color:white;
}

.incoming-container .search-main-div .search-clear-btns-div #incoming-search-btn{
    width:100px;
    height: 50%;
    border-radius: 0.25rem;
    background: #2f3e46;
    border:none;
    color:white;

}

/* ******************************************* */
.incoming-container .incoming-table{
    width: 100%;
    height: 88%;
    margin-top: 0.5rem;
    overflow-y: scroll;
}

.dataTables_filter {
    display: none; /* Hide the search input box */
}

.incoming-container .incoming-table .text-center th:nth-child(1){
    width:20%;
    background: #e6e6e6;
}

.incoming-container .incoming-table .text-center th:nth-child(2){
    width:17%;
    background: #e6e6e6;
}

.incoming-container .incoming-table .text-center th:nth-child(3){
    width:7%;
    background: #e6e6e6;
}

.incoming-container .incoming-table .text-center th:nth-child(4){
    width:15%;
    background: #e6e6e6;
}

.incoming-container .incoming-table .text-center th:nth-child(5){
    width:18%;
    background: #e6e6e6;
}

.incoming-container .incoming-table .text-center th:nth-child(6){
    width:10%;
    background: #e6e6e6;
}

.incoming-container .incoming-table .text-center th:nth-child(7){
    width:7%;
    background: #e6e6e6;
}

#incoming-tbody{
    overflow-y: scroll;
}

.incoming-container .incoming-table #incoming-tbody .tr-incoming{
    height: 61px;
}


.incoming-container .incoming-table #incoming-tbody .tr-incoming #dt-refer-no,
.incoming-container .incoming-table #incoming-tbody .tr-incoming #dt-patname{
    font-size: 0.9rem; 

}

.incoming-container .incoming-table #incoming-tbody .tr-incoming #dt-refer-no{
    border-left: 1px solid #b2b3b3;
}

.incoming-container .incoming-table #incoming-tbody .tr-incoming #dt-type{
    height: 100%;
    font-weight: bold;
    text-align: center;
}
.incoming-container .incoming-table #incoming-tbody .tr-incoming #dt-phone-no{
}

.incoming-container .incoming-table #incoming-tbody .tr-incoming #dt-phone-no label{
    font-size: 0.75rem; 
    margin-left: 0.25rem;
}

.incoming-container .incoming-table #incoming-tbody .tr-incoming #dt-phone-no label{
    font-size: 0.75rem; 
}

/* Hide scrollbar for webkit browsers */
::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar width */
    height: 0; /* Remove scrollbar height */
}

.incoming-container .incoming-table #incoming-tbody .tr-incoming #dt-turnaround{
    height: 70px;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: left;
    position:relative;
    overflow: hidden;
    transition-property: all;
    /* transition-delay: 150ms; */
    transition-duration: 300ms;
    transition-timing-function: ease;
    /* border:1px solid black; */
}

.incoming-container .incoming-table #incoming-tbody .tr-incoming #dt-turnaround i{
    position:absolute;
    bottom:0;
    right:0;
    border:2px solid #a4b7c1;
    padding:5px;
    font-size: 0.75rem; 
    line-height: 1rem; 
    border-radius: 0.25rem;
    background: #d1dbe0;
    cursor: pointer;
    color:gray;
    opacity:0.4;
}

.incoming-container .incoming-table #incoming-tbody .tr-incoming #dt-turnaround i:hover{
    opacity: 1;
}

.incoming-container .incoming-table #incoming-tbody .tr-incoming #dt-turnaround .breakdown-div{
    /* display:none; */
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width:100%;
    height: 250px;
}

.incoming-container .incoming-table #incoming-tbody .tr-incoming #dt-turnaround label,
.incoming-container .incoming-table #incoming-tbody .tr-incoming #dt-turnaround label .breakdown-div label{
    font-size: 0.9rem; 
    /* line-height: 1rem;  */
    width: 95%;
    border-bottom: 1px solid #bfbfbf; 
    margin-top: 0.25rem;
}

.incoming-container .incoming-table #incoming-tbody .tr-incoming #dt-turnaround label:nth-child(1){
    margin-top: 0;
}

.incoming-container .incoming-table #incoming-tbody .tr-incoming #dt-stopwatch #stopwatch-sub-div{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.incoming-container .incoming-table #incoming-tbody .tr-incoming #dt-status{
    font-weight: bold;
    text-align: center;
    background: #6b727f;    
    border-right: 1px solid #b2b3b3;
}

.incoming-container .incoming-table #incoming-tbody .tr-incoming #dt-status div{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.incoming-container .incoming-table #incoming-tbody .tr-incoming #dt-status div i{
    cursor: pointer;
}

.incoming-container .incoming-table #incoming-tbody .tr-incoming #dt-status div i:hover{
    color:white;
}



.custom-modal {
    max-width: 800px; /* Adjust the width as needed */
}

#pendingModal .modal-content {
    background: #141b1f;
    padding: 1rem;
    /* border-radius: 0.25rem; */
    /* z-index: 20; */
    /* width:100%; */
    /* height: 100%; */
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: start; */
    /* align-items: start; */
    /* overflow-y: auto;  */
}

#pendingModal .modal-content .modal-header{
    width:100%;
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

#pendingModal .modal-content .modal-header button{
    background: #0587ca;
    width:100px;
    color:white;
    border-radius: 0.125rem;
    /* text-align: center; */
    border:none;
    margin-left:3%;
    font-size: 1.1rem;
}


#pendingModal .modal-content .sub-header{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding:5px;
    border-bottom: 3px solid #1f292e;
}

#pendingModal .modal-content .sub-header label{ 
    background: #0587ca;
    width:10%;
    justify-items: center;
    color:white;
    border-radius: 0.125rem;
    text-align: center;
}

#pendingModal .modal-content .sub-header div{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width:25%;
}

#pendingModal .modal-content .sub-header div button{
    background: #0587ca;
    width:45%;
    justify-content: center;
    color:white;
    border-radius: 0.125rem;
    text-align: center;
    border:none;
}

#pendingModal .modal-content .modal-body-incoming .status-form-div{
    width:100%;
    height: 50px;
    margin-top: 1%;
    border-radius: 0.125rem;
    background: #5c7a8a;
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

#pendingModal .modal-content .modal-body-incoming #inter-dept-stat-form-div{
    margin-top:0;
}

#pendingModal .modal-content .modal-body-incoming .status-form-div #status-bg-div,
#pendingModal .modal-content .modal-body-incoming .status-form-div #pat-status-form{
    border-radius: 0.125rem;
    color:white;
    font-weight: bold;
    font-size: 1rem;
    font-size: 1.6rem;
    letter-spacing: 1px;
    margin-left: 1%;
}

#pendingModal .modal-content .modal-body-incoming #approval-form{
    background: #c2cfd6;
    width:100%;
    height: 65%;
    margin-top: 1.5%;
    border-radius: 0.25rem;
    display:flex;
    flex-direction: column;
    margin-top: 1%;
    
}

#pendingModal .modal-content #approval-form #approval-title-div{
    width:100%;
    height: 30px;
    background: #0587ca;
    margin-top: 0.1%;
    color:white;
    font-weight: bold;
    text-align: left;
    line-height: 30px;
    padding-left: 10px; 
}

#pendingModal .modal-content #approval-form .approval-main-content{
    display:flex;
    flex-direction: column;
    height: 85%;
}

#pendingModal .modal-content #approval-form .approval-main-content #case-cate-title,
#pendingModal .modal-content #approval-form .approval-main-content #admin-action-title{
    margin-left: 2%;
    font-weight: 600;
    margin-top:1%
}

#pendingModal .modal-content #approval-form .approval-main-content #approve-classification-select{
    width:95%;
    margin-left: 2%;
    border-radius: 0.125rem;
    outline:none;
}

#pendingModal .modal-content #approval-form .approval-main-content #eraa{
    border:2px solid #bfbfbf;
    width: 95%;
    height: 150px;
    margin-left: 1rem;
    resize: none;
    outline:none;
    margin-bottom:1%;
}

#pendingModal .modal-content #approval-form .approval-main-content #pre-text{
    /* width:95%; */
    height: 40%;
    margin-left: 1rem;
    font-weight: bold;
    display:flex;
    flex-direction: column;
    justify-content: start;
    align-items: left;
}

#pendingModal .modal-content #approval-form .approval-main-content #pre-text .pre-emp-text{
    cursor: pointer;
    width:auto;
}

#pendingModal .modal-content #approval-form #approval-form-btns{
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    margin-top: 0.5rem;
    border-top: 3px solid #bfbfbf;
}

#pendingModal .modal-content #approval-form #approval-form-btns button{
    margin:1%;
    background: #0587ca;
    font-weight: 600;
    border-radius: 0.125rem;
    color:white;
    padding:7px;
    border:none;
}

#pendingModal .modal-content #approval-form #approval-form-btns button:hover{
    background: #046595;
}

#pendingModal .modal-content .interdept-div,
#pendingModal .modal-content .interdept-div-v2{
    width: 100%;
    height: 150px;
    margin-top:1.5%;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: top;
    background: #c2cfd6;
    border-radius: 5px;
    display:none;
}

#pendingModal .modal-content .interdept-div-v2{
    align-items: center;
}

#pendingModal .modal-content .interdept-div #inter-dept-lbl{
    margin-top:1%;
    margin-left:1%;
    font-size: 1rem;
    color:black;
    font-weight: 600;
}

#pendingModal .modal-content .interdept-div select{
    margin-top:0.5%;
    margin-left:1%;
    width:50%;
    outline:none;
    border:2px solid #bfbfbf;
    border-radius: 5px;
}

#pendingModal .modal-content .interdept-div .int-dept-btn-div,
#pendingModal .modal-content .interdept-div-v2 .int-dept-btn-div-v2{
    width:100%;
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

#pendingModal .modal-content .interdept-div .int-dept-btn-div button,
#pendingModal .modal-content .interdept-div-v2 .int-dept-btn-div-v2 button{
    width:170px;
    height: 30px;
    border:none;
    background: #0587ca;
    border-radius: 3px;
    color:white;
    font-weight: 600;
    margin-right:1%;
}

#pendingModal .modal-content .interdept-div-v2 .int-dept-btn-div-v2 button{
    width: 100px;
}

#pendingModal .modal-content .interdept-div-v2 #v2-stat{
    margin-top:3%;
    font-size: 1.5rem;
    font-weight: 600;
}

#pendingModal .modal-content .interdept-div-v2 #v2-stat #span-time{
    color:green;
}

#pendingModal .modal-content .interdept-div-v2 #v2-stat #span-dept{
    background: #171f23;
    padding: 5px;
    border-radius: 5px;
    color:#ffffff;
}

#pendingModal .modal-content .referral-details{
    width:100%;
    margin-top:2%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background: #c2cfd6;
}

#pendingModal .modal-content .referral-details .ul-div{
    width:100%;
    height: 100%;
}

#pendingModal .modal-content .referral-details .ul-div ul{
    list-style: none;
    display:flex;
    flex-direction: column;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem; 
    text-align: left;
}

#pendingModal .modal-content .referral-details .ul-div ul li{
    text-align: left;
    margin: 0;
    padding: 0; 
}

#pendingModal .modal-content .referral-details .ul-div ul li label{
    font-weight: bold;
    font-size: 1rem;
}

#pendingModal .modal-content .referral-details .ul-div ul li span{
    overflow-wrap: break-word;
    font-size: 1rem;
    font-weight: 600;

}

#pendingModal .modal-content .referral-details .ul-div ul .pending-type-ob{
    display:hidden;
}

#myModal-incoming .modal-header,
#myModal-incoming .modal-header div{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#myModal-incoming .modal-header div #modal-icon{
    margin-left: 0.50rem;
    margin-bottom: 7%;
}

#myModal-incoming .modal-body-incoming{
    margin-left: 1rem;
}

#myModal-incoming #yes-modal-btn-incoming{
    display:none;
}