*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    overflow: hidden;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container{
    width:100%;
    height: 100vh;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.container .coating-div{
    position:absolute;
    width: 100%;
    height: 100%;
}

.container .coating-div .blurred-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* filter: blur(8px); */
}

.container .coating-div div{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background: green;
    opacity: 0.2;
}

.container .main-content{
    width: 100%;
    height: 85%;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    z-index: 10;
    
    /* display:none; */
}

.container .main-content .letter-border {
    font-size: 4rem; 
    color:#ffff;
    -webkit-background-clip: text;
    background-clip: text;
    padding: 0.2em 0;
    margin: 0;
    letter-spacing: 1px;
    font-weight: bold;
}

.container .main-content .glass-div {
    width: 600px;
    height: 500px;
    margin: 0;
    padding: 0;
    display:flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;

    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0,0,0,0.37);
}

.container .main-content .glass-div #login-txt{
    width: 100%;
    text-align: center;
    /* border:1px solid black; */
    margin-top:5%;
    color:#e6e6e6;
}

.container .main-content .glass-div form{
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    /* border:1px solid black; */
}

.container .main-content .glass-div form #username-div,
.container .main-content .glass-div form #password-div{
    width:80%;
    height: 60px;
    border:1px solid black;
    margin-top: 5%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 40px;
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0,0,0,0.37);
}

.container .main-content .glass-div form #username-div .username-icon,
.container .main-content .glass-div form #password-div .username-icon{
    margin-left:5%;
    font-size: 1.7rem;
    opacity: 0.8;
}

.container .main-content .glass-div form #username-div #username-inp,
.container .main-content .glass-div form #password-div #password-inp{
    margin-left:5%;
    width:70%;
    height: 100%;
    background: transparent;
    border:none;
    /* color: white; */
    font-size: 1.1rem;
}

.container .main-content .glass-div form #username-div #username-inp:focus,
.container .main-content .glass-div form #password-div #password-inp:focus{
    outline:none;
}

.container .main-content .glass-div form #login-btn{
    margin-top:5%;
    width: 80%;
    height: 60px;
    color: #597E52;
    font-size: 1.1rem;
    cursor: pointer;
    font-weight: bold;
    /* opacity: 0.5; */
    /* pointer-events: none; */

    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 40px;
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0,0,0,0.37);
}

.container .main-content .glass-div .query-signin-div{
    width:100%;
    height: 50px;
    /* border:1px solid black; */
    text-align: right;

    z-index: 20;
}

.container .main-content .glass-div .query-signin-div label{
    margin-right:5%;
    font-size: 0.9rem;
    cursor: pointer;
    color:white;
    opacity: 0.7;
}

.container .main-content .glass-div .query-signin-div label:hover{
    text-decoration: underline;
    opacity: 1;
}

.container .sub-content{
    margin-top:5%;
    width:60%;
    height: 80%;
    /* border:3px solid red; */
    z-index: 40;
    border-radius: 10px;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0,0,0,0.37);

    display:none;
}

.container .sub-content .sub-content-header-div{
    width:100%;
    height: 70px;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    background: linear-gradient(135deg, rgba(22, 48, 32), rgba(80, 175, 116));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    /* border:1px solid rgba(255, 255, 255, 0.18); */
    box-shadow: 0 8px 32px 0 rgba(0,0,0,0.37);
}

.container .sub-content .sub-content-header-div .sub-content-header{
    width:90%;
    height: 100%;
    color:#f2f2f2;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    letter-spacing: 1px;
    font-weight: bold;
    font-size:1.3rem;

}

.container .sub-content .sub-content-header-div .return{
    cursor:pointer;
    opacity: 0.5;
    margin-top:1%;
}

.container .sub-content .sub-content-header-div .return:hover{
    opacity: 1;
}

.container .sub-content .sub-nav-btns{
    width:100%;
    height: 70px;
    border-bottom:2px solid #304D30;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items:end;
}

.container .sub-content .sub-nav-btns button{
    width:150px;
    height: 70%;
    margin-left:2%;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.container .sub-content .sub-content-note{
    width:90%;
    height: 50px;
    padding:5px 5px;
    font-size: 0.85rem;
    text-align: justify;
    margin-top:1%;
}

.container .sub-content .sub-content-registration-form{
    width:80%;
    height: 70%;
    overflow-y: auto;
    margin-top:2%;
    /* display:none; */
}

.container .sub-content .sub-content-authorization-form{
    width:80%;
    height: 70%;
    overflow-y: auto;
    margin-top:2%;

    display:none;
}

.container .sub-content .sub-content-registration-form .reg-form-divs:nth-child(1),
.container .sub-content .sub-content-authorization-form .autho-form-divs:nth-child(1){
    margin-top:0;
}

.container .sub-content .sub-content-registration-form .reg-form-divs,
.container .sub-content .sub-content-authorization-form .autho-form-divs{
    width:100%;
    height: 70px;
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    justify-content: space-between;
    align-items: center;
    margin-top:2%;

    
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0,0,0,0.37);
}

.container .sub-content .sub-content-registration-form .reg-form-divs .reg-labels,
.container .sub-content .sub-content-authorization-form .autho-form-divs .reg-labels{
    font-size: 1rem;
    /* font-weight: bold; */
    margin-left:5%;
}

.container .sub-content .sub-content-registration-form .reg-form-divs .reg-inputs,
.container .sub-content .sub-content-authorization-form .autho-form-divs .reg-inputs{
    width:55%;
    height: 40px;
    border:none;
    background:white;
    border-bottom: 2px solid #999999;

    border: 2px solid #999999;
    border-radius:10px;

    margin-top:1%;
    margin-right:5%;
    text-align: center;

    font-size: 0.9rem;
}

.container .sub-content .sub-content-registration-form .reg-form-divs .reg-inputs:focus,
.container .sub-content .sub-content-authorization-form .autho-form-divs .reg-inputs:focus{
    outline: none;
}


.sub-content-registration-form::-webkit-scrollbar,
.sub-content-authorization-form::-webkit-scrollbar {
    display: none;
}

.container .sub-content .sub-content-registration-form .register-confirm-div,
.container .sub-content .sub-content-authorization-form .authorization-confirm-div{
    width:100%;
    height: 50px;
    /* border:1px solid black; */
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.container .sub-content .sub-content-registration-form .register-confirm-div #register-confirm-btn,
.container .sub-content .sub-content-authorization-form .authorization-confirm-div #authorization-confirm-btn{
    margin-top:1%;
    width:150px;
}

.container .sdn-loading-div{
    position: absolute;
    top:30%;
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 3;
    width: 25%;
    height: 270px;
    /* transform: translateY(350px);
    transform: translateX(50px); */
    border-radius: 10px;
    background: #e6e6e6;
    z-index: 60;

    /* display:flex; */
}
/* 2f3e46 */
.container .sdn-loading-div #sdn-loading-div-2{
    background: #435644;
    width: 100%;
    height: 45px;
    color:white;
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.container .sdn-loading-div #sdn-loading-div-2 h3{
    margin-left:5%;
    font-size: 2rem;
}

.container .sdn-loading-div h3{
    margin-top: 2%;
    margin-left:2%;
    font-size: 1.3rem;
    font-weight: bold;
}

.container .sdn-loading-div .loader{
    margin-top:3%;
}

.container .otp-modal-div{
    position: absolute;
    top:30%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 3;
    width: 30%;
    height: 400px;
    border-radius: 20px;
    background: #e6e6e6;
    z-index: 60;

    display:none;
}

.container .otp-modal-div #email-sent-div{
    background: #435644;
    width: 100%;
    height: 50px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color:white;
}

.container .otp-modal-div #email-sent-div h3{
    margin-left: 2%;
    margin-top: 2%;
    font-size: 1.5rem;
}

.container .otp-modal-div #email-sent-div button{
    margin-right: 2%;
    font-size: 2rem;
    color:white;
    background: transparent;
    border:none;
}

.container .otp-modal-div #email-sent-div button:focus{
    outline: none;
}


.container .otp-modal-div #input-otp-div{
    width: 100%;
    height: auto;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 3%;
}

.container .otp-modal-div #input-otp-div h3{
    font-size: 1.5rem;
    font-weight: bold;
}

.container .otp-modal-div #otp-inputs-div{
    width: 80%;
    height: 30%;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 2%;

    /* border:1px solid black; */

}

.container .otp-modal-div #otp-inputs-div .otp-inputs{
    width: 70px;
    height: 100%;
    border:none;
    border-radius: 10px;
    background: white;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    border:none;
    /* margin-left:1%; */

    /* border:1px solid black; */
}

.container .otp-modal-div #otp-inputs-div .otp-inputs #otp-input-1,
.container .otp-modal-div #otp-inputs-div .otp-inputs #otp-input-2,
.container .otp-modal-div #otp-inputs-div .otp-inputs #otp-input-3,
.container .otp-modal-div #otp-inputs-div .otp-inputs #otp-input-4,
.container .otp-modal-div #otp-inputs-div .otp-inputs #otp-input-5,
.container .otp-modal-div #otp-inputs-div .otp-inputs #otp-input-6{
    width: 100%;
    height: 100%;
    text-align: center;
    outline:none;
    border:none;
}

.container .otp-modal-div #resend-otp-div{
    width: 100%;
    height: 100px;
    margin-top: 2%;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* border:1px solid black; */
}

.container .otp-modal-div #resend-otp-div #resend-otp-btn{
    margin-left: 5%;
    color:blue;
    text-decoration: underline;
    opacity: 0.5;
    pointer-events: none;
    border:none;
}

.container .otp-modal-div #resend-otp-div #resend-otp-timer{
    margin-right: 5%;
    font-size: 1.2rem;
}

.container .otp-modal-div #otp-verify-div{
    width: 100%;
    height: 40px;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 1%;
    /* border:1px solid black; */
}

.container .otp-modal-div #otp-verify-div button{
    background-color: rgb(29 78 216);
    color:white;
    font-weight: bold;
    padding-top: 0.25rem; /* 4px */
    padding-bottom: 0.25rem; /* 4px */

    padding-left: 1rem; /* 16px */
    padding-right: 1rem; /* 16px */

    width:25%;
    height: 100%;
    border-radius: 5px;
    border:none;
}

.container #myModal .modal-header{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.container #myModal .modal-header #modal-header-2{
    width:40%;
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.container #myModal .modal-header #modal-header-2 #modal-icon{
    margin-left:5%;
}

.container #myModal .modal-header button{
    border:none;
    background:transparent;
    font-size: 1.8rem;
}

.container #myModal .modal-footer button{
    background-color: rgb(59 130 246);
    color:white;
    font-weight: bold;
    margin-right: 1%;
    border-radius: 5px;
    padding: 5px 10px;
    width:100px;
    border:none;
}

.container #myModal .modal-footer #yes-modal-btn{
    display:none;
}

.is-invalid{
    background-color: #d8a1a6 !important;
}

.is-valid{
    background-color: white !important;
    border:3px solid #4fe34f !important;
}

/* #tutorial-modal .modal-dialog {
    position: absolute;
    top: 50px; 
    left: 50px; 
    margin: 0;
    transform: none;
} */

/* #tutorial-modal .modal-dialog{
    width:800px;
} */

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); /* Semi-transparent black */
    z-index: 10;
    pointer-events: none; /* Allow clicks to pass through */

    display:none;
}

#tutorial-btn{
    position:absolute;
    right:1%;
    top:2%;
    z-index: 20;
    /* border:none; */
    color:white;
    background: transparent;
    font-size: 2rem;
    cursor: pointer;
    opacity: 0.3;
}

#tutorial-btn:hover{
    opacity: 1;
    transition: 1s;
}

.carousel{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 80%;
    width: 70%;
    z-index: 30;
    border-radius: 5px;
    /* border:3px solid darkolivegreen; */
    display:none;
}













.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
-webkit-appearance: none;
}